@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');




:root{
   /* --sub-color:#DCC69C; */
    --main-color:#d3ad7f;
    --black:#000000;
    --white: #fff;
    --bg:#000000;
    --border:.1rem solid rgba(255,255,255,.3);
    --service-color :#141c26; 
    --yellow : #ffc400;;
    --body: rgb(218, 218, 218);
}


* {
   font-family: 'Roboto' , 'Montserrat', sans-serif;
   margin: 0;
   padding: 0;
   -webkit-box-sizing: border-box;
           box-sizing: border-box;
   outline: none;
   border: none;
   text-decoration: none !important;
   -webkit-transition: all .2s linear;
   transition: all .2s linear;
 }
 
html::-webkit-scrollbar-thumb{
    background: #bebdbd;
    border-radius: 5rem;
    box-shadow: 0 0 0 1 rgb(0, 0, 0);
     border: solid black 2px;
     height: 5srem;
 }

html::-webkit-scrollbar{
   width: 2rem;
   /* height: 4rem; */
 }
 
html::-webkit-scrollbar-track{
    background: transparent;
 }


 html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
 }

/* 

 body{
   background-color: var(--body);
} */

/* header section  */


section{
   padding:2rem 7%;
}

.heading{
   text-align: center;
   color: var(--white);
   text-transform: uppercase;
   padding-bottom: 3.5rem;
   font-size: 4rem;
}

.heading span{
   color:var(--main-color);
   text-transform: uppercase;
}


.btn{
   margin-top: 1rem;
   display: inline-block;
   padding:.9rem 3rem;
   font-size: 1.7rem;
   color: var(--white);
   background: var(--white);
   cursor: pointer;
}

.btn:hover{
   letter-spacing: .2rem;
}

.header{
   /* font-size: larger; */
   background:var(--bg);
   display:flex;
   align-items: center;
   justify-content: space-between;
   padding:2rem 7%;
   border-bottom:1px  var(--yellow);
   position: fixed;
   top:0; left: 0; right: 0;
   z-index: 1000;
}

.header img{
   background-color: var(--black);
   height: 4rem;
   width: 5rem;
   border: 1px solid var(--black);
}
.header img:hover{
    transform: scale(1.1);
}
.header nav {
   height: 20px;
   width:70%;
   display: flex;
   padding-top: 10px;
   /* justify-content: space-between; */
   /* align-items: center; */
   /* padding:2rem 7%; */
}
nav ul{
   list-style: none;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

nav ul li{
   padding: 10px 30px;
   position: relative;
}



nav ul li a{
   display: flex;
   justify-content: space-between;
   align-items: center;
   color: var(--yellow);
   text-decoration: none;
   font-size: 20px;

}
nav ul li a:hover{

   background-color: var(--yellow);
   color: var(--black);
   text-decoration: none;
   font-weight: bold;
}


#bars {
   display: none;
} 

#moon {
   display: none;
}


.navbar-end a #login{
   font-size: 20px;
   color: var(--yellow);

}
.navbar-end a #login:hover{
   font-size: 30px;
}

.sub-menu1{
   display: none;
}


nav ul li:hover .sub-menu1,
nav ul li:focus .sub-menu1{
   display: block;
   position: absolute;
   top: 60%;
   left: 0;
   margin-top: 20px;
}
.sub-menu1 ul{
   display: block;
  position: absolute;
  /* left: -0px; */
  background-color: #000000;
}

 .sub-menu1 ul li{
   width: 150px;
   padding: 10px;
  
}





/* 
.header .navbar li{
  
  list-style: none;
  position: relative;
  
}
.header .navbar a{

   margin:0 2rem;
   font-size: 2rem;
   color:var(--yellow);

}

.navbar-end a{
 display: inline;
 justify-content: flex-end ;
 color:var(--yellow);
 margin:0 2rem;
 font-size: 1.6rem;
 text-decoration: none;
 padding-top: 5px;
}

.header .navbar a:hover {
   color:var(--yellow);
   border-bottom: .1rem solid var(--yellow);
   padding-bottom: .5rem;
}



.header .navbar-end i:hover {
   color:var(--yellow);
   border-bottom: .1rem solid var(--yellow);
   padding-bottom: .5rem;
}


.header :hover{
   color:var(--yellow);
   padding-bottom: .5rem;
}


.navbar-end a #login{
   font-size: 20px;
}
.navbar-end a #login:hover{
   font-size: 30px;
}

#bars {
   display: none;
} 

#moon {
   display: none;
}


.sub-menu1{
display: none;   
}

.header .navbar li a:hover .sub-menu1{
   display: visible;
}

.header .navbar li a:hover .sub-menu1{
   display: block;
   left: -10px;   
   position: absolute;
   margin-top: 20px;
   background-color: #000000;
}


.sub-menu1 ul {
   display: block;
}

.sub-menu1 ul li{

   margin-top: 10px;
   right: 0;
   left: -10px;
} */








/* .sub-menu1 ul li:nth-last-child(1){
   border-bottom: none;
} */

/* .sub-menu1 li a:hover{
   list-style: none;
   border-bottom:none;
   padding-bottom: none;
} */
   
/* .navbar li a:hover .sub-menu1{

   display: block;
   position: absolute;
   background-color: #ff0000;
   color: var(--yellow);
   margin-top: 100px;
   margin-left: 100px;
  

} */



/* header end  */



/* home start  */




.arrow-up{   
   opacity: .7;
   border-radius: 10px;
   height: 50px;
    width: 50px;
    position: fixed;
    top: 100px;
    left: 10px;
    z-index: 100;
    background-color: var(--black);
    display: flex;
      justify-content: center;
      align-items: center;
}
.arrow-up i{
   font-size: 30px;
   color: var(--yellow);   
}
 
.arrow-down{
   opacity: .7;
   border-radius: 10px;
   height: 50px;
   width: 50px;
   position: fixed;
   top: 600px;
   right: 10px;
   bottom: 50px;
   z-index: 100;
   background-color: var(--yellow);
   display: flex;
   align-items: center;
   justify-content: center;

}

.arrow-down i{
   font-size: 30px;
   color : var(--black);   
}
.home {
   display: flex;
      justify-content: center;
      align-items: center;
   font-family: 'Roboto';
   background-color: var(--body);
   background-size: cover;
   background-position: center;
   background-attachment: fixed;
 }
 .inner-home{
   margin-top: 75px;

 }
/* 
 .inner-home .carousel-control-prev-icon,
 .inner-home .carousel-control-next-icon{
   color: #000000;
   size: 30px;
 } */

 .home span {
   font-size: 2.5rem;
   color: #fff;
 }
 
 .home p {
   padding: 1rem 0;
   font-size: 5rem;
   color: #fff;
   margin-bottom: 55px;
 }
 
 .home a {
   padding: 20px;
   border-radius: 5px;
   color: rgb(0, 0, 0);
   border-color: #fff;
   background-color: var(--yellow);
   font-size: 2.5rem;
    

 }
.home a:hover{
 letter-spacing: 5px;
}
/* home end  */




/* facility start  */
.Facility{
   padding-top: 30px;
}

.Facility .card-text{
   text-align: center;
   margin-bottom: 50px;
   font-size: 20px;
}

.ff{
   text-align: center;
   margin-bottom: 50px;
   font-size: 40px;
   background-color: rgb(0, 0, 0);
   border-radius: 20px; 
   color: var(--yellow);  
}

.ff:hover{
   letter-spacing: .2rem;
}

.Facility .row{
   display: flex;
   place-items: center;
   text-align: center;
   margin-bottom: 40px;

}
.Facility .row .rp{

   font-size: 40px;
   margin-bottom: 25px;
}

.Facility .col{
   display: grid;
   place-items: center;
   border-radius: 50px;
   width: 100px;
}

.Facility .col:hover {
   border-radius: 20px;
background: #e0e0e0;
box-shadow:  -5px 5px 32px #9b8f8f,
             5px -5px 32px #ffffff;
}


.Facility .col:hover .card{
   box-shadow: none;
}

.card-img-top:hover {
   transform: scale(1.1);
}

 .Facility .col p{
   color: #000000;
 }
.col a{

   width: 100px;
   height: 35px;
   text-align: center;
   font-size: 15px;
}

.Facility .btn{
   color: var(--yellow);
   border-radius: 15px;
}
.Facility .btn:hover{
   color: var(--yellow);
}
.Facility h1{
   color: black;
}

.card {
   box-shadow:  -5px 5px 32px #000000;
}



/* facility end  */


/* fee start  */
.Fees{
   padding-top: 30px;
}
.Fees .fs{
   text-align: center;
   margin-bottom: 40px;
   font-size: 40px;
   background-color: rgb(0, 0, 0);
   border-radius: 20px; 
   color: var(--yellow);  
}

/* fee end  */




/* Gallary start  */
.Gallary{
   padding-top: 30px;
   background-color: var(--body);
}


.Gallary .container p{
   padding-top: 30px;
   margin-top: 20px;
   text-align: center;
   font-size: 30px;
}
.Gallary .cu{
   text-align: center;
   margin-bottom: 40px;
   font-size: 40px;
   background-color: rgb(0, 0, 0);
   border-radius: 20px; 
   color: var(--yellow);  
}

.cu:hover{
   letter-spacing: .2rem;
}


.g-navbar{
   display: flex;
   align-items: center;
   justify-content: space-evenly;
   padding:2rem 7%;

   /* box-shadow: 0 0.5rem 1rem rgb(0, 0, 0);
   background:rgb(165, 164, 164);
   border-radius: 20px; */
}

.g-navbar a{
   padding: 10px;
   background: var(--black);
   text-decoration: none;
   color: var(--yellow);
   font-size: large;
   border-radius: 10px;
}
/* .g-navbar a:hover{
   text-decoration: none;
} */
.g-navbar a:focus{
   text-decoration: none;
   text-shadow: 0 0 0  rgb(255, 0, 0);

}

.container .gcol{
   display: flex;
   justify-content: center;
   align-items: center;
}
 .gcol img{
   /* border-color: yellow; */
   border-color: none;
   width: 300px;
   height: 300px;
 }

 .gcol img:hover{
 transform: scale(1.1);
 }

.g-row hr{
   height: 10px;
   width: 80%;
   color: #000000;   
   
}

.Gallary .gcol input{
display: none;
} 

.Gallary  .file{
   width: 50px;
   opacity: .9;
   border-radius: 30px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   color: var(--yellow);
   background-color: #000000;

}
.Gallary .gcol  .imgtext{
   font-size: 30px;
   cursor: pointer;
}
.Gallary .gcol  label i{
   color: var(--yellow);
   padding: 10px;
   font-size: 50px;
   cursor: pointer;
}

/* 
 
.baroda{
   display: none;
 }  */

/* .surat{
   display: none;
} 

  
 .ahemdabad{
   display: none;
 } 
 .rajkot {
   display: none;
 }
 .anand{
   display: none;
 } */


/* Gallary end  */






/* reviews section start  */


/* new */


.reviews{
   padding-top: 30px;
   width: 100%;
}

.reviews .box{
   text-align: center;
   user-select: none;
   padding: 2rem;
   margin-bottom: 4rem;
}

.reviews .box img{
   height: 7rem;
   width: 7rem;
   border-radius: 50%;
   object-fit: cover;
}

.reviews .box h3{
   margin: 1.5rem 0;
   font-size: 2rem;
   color: var(--sub-color);
}

.reviews .box p{
   line-height: 2;
   font-size: 1.5rem;
   color: var(--sub-color);
}

.swiper .swiper-button-prev,
.swiper .swiper-button-next{
   color: var(--black);
}
.swiper .swiper-pagination-bullet-active{
   background-color: var(--yellow);
   
}
/* new end  */




.reviews {
   background-color: var(--body);
   margin-top: 50px;
   padding-top: 30px;
 }
 
 
 .reviews .cr{

   text-align: center;
   margin-bottom: 50px;
   font-size: 40px;
   background-color: rgb(0, 0, 0);
   border-radius: 20px; 
   color: var(--yellow);
   
 }


 .reviews .cr:hover{
  letter-spacing: .2rem;
 }

 /*  
 .reviews .box-container {
  display: -ms-grid;

   display: grid;
   -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
       grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
   gap: 2rem;
 }
 
 .reviews .box-container .box {
   text-align: center;
   padding: 3rem 2rem;
   border-radius: .5rem;
 }
 
 .reviews .box-container .box:hover {
   background: rgb(255, 255, 255);
   -webkit-box-shadow: 0 0.5rem 1rem rgb(0, 0, 0);
           box-shadow: 0 0.5rem 1rem rgb(0, 0, 0);
   -webkit-transform: translateY(-1rem);
           transform: translateY(-1rem);
 }

   /* reviews  .box:hover h1{
   color: white;
   } 
 
 .reviews .box-container .box img {
   height: 10rem;
   width: 10rem;
   border-radius: 50%;
   margin-bottom: 1.5rem;
 }
 
 .reviews .box-container .box img:hover {
     transform: scale(1.1);
     margin-bottom: 25px;
 }
 .reviews .box-container .box h1 {
   font-size: 2rem;
    font-weight: 400;
   text-transform: capitalize;
   color: rgb(0, 0, 0);
 }
 
 .reviews .box-container .box p {
   font-size: 1.6rem;
   line-height: 2;
   color: rgb(0, 0, 0);
   margin-bottom: 0;
   padding: 1rem 0;
 }
 
 .reviews .box-container .box .stars {
   margin-top: 1rem;
 }


 .reviews .box-container .box:hover {

    color: var(--white);

 }
 .reviews .box-container .box .stars i {
   font-size: 1.7rem;
   color: #ffc400;
 } */




/* reviews section end */



/* main about  */
.about{
   padding-top: 30px;

}
.about .as{
   text-align: center;
   margin-bottom: 50px;
   font-size: 40px;
   background-color: rgb(0, 0, 0);
   border-radius: 20px; 
   color: var(--yellow);
   
}
.about .as:hover{
   letter-spacing: .2rem;
}

                                  /* about*/
.platform-box {
   margin: 23px 0;
}

.platform-item {
   display: flex;
   align-items: center;
}

.content-img {
   width: 100%;
   display: flex;
   justify-content: center;
}

.content-img img {
   width: 50%;
}

.content-info {
   display: flex;
   justify-content: space-around;}

.content-info-detail {
   text-align: center;
   width: 67%;
   padding: 10px;
}

.content-info-detail h3 {
   font-size: 28px;
   text-align: start;
   margin: 25px 0;
   font-weight: initial;
   font-family: initial;
}

.content-info-detail p {
   text-align: start;
   font-size: 18px;
   line-height: 1.5;
   font-weight: initial;
}

.content-info1 {
   display: flex;
   justify-content: space-around;}

.platform-item1 {
   display: flex;
   align-items: center;
   background-color: #000000;
   color: #ffc400;
}

.heading1 {
   text-align: center;
   position: relative;
   top: 15px;
   font-family: 'Bree Serif', serif;
   font-size: 40px;
}


/* end main about  */

 


/* contact us start  */
.contact{
   padding-top: 30px;

}

.contact .contact-info-container {
   display: -ms-grid;
   display: grid;
   -ms-grid-columns: (minmax(30rem, 1fr))[auto-fit];
       grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
   gap: 2rem;
   margin-bottom: 3rem;

 }
 
 .contact .contact-info-container .box {
   /* border: 0.1rem solid var(--black); */
   padding: 3rem 2rem;
 
   text-align: center;
  
   /* border-radius: 37px;
   background: #e0e0e0;
   box-shadow:  18px 18px 36px #b1b1b1,
                -18px -18px 36px #ffffff; */
                border-radius: 48px;
background: linear-gradient(145deg, #cacaca, #f0f0f0);
box-shadow:  5px 5px 10px #656565,
             -5px -5px 10px #ffffff;
 }
 
 .contact .contact-info-container .box i:hover  {
   /* background: var(--body); */
   background-color: var(--black);
   color: var(--yellow);
 }
 
 .contact .contact-info-container .box i {
   height: 6rem;
   width: 6rem;
   line-height: 6rem;
   border: .2rem solid var(--black);
   border-radius: 5px;

   color: var(--black);
   font-size: 2rem;
   margin-bottom: 1rem;
 }
 
 .contact .contact-info-container .box h3 {
   font-size: 2rem;
   text-transform: capitalize;
   color: #222;
   padding: 1rem 0;
 }
 
 .contact .contact-info-container .box p {
   font-size: 1.5rem;
   line-height: 2;
   color: #666;
   margin-bottom: 0;
 }

.contact .cu{

   text-align: center;
   margin-bottom: 50px;
   font-size: 40px;
   background-color: rgb(0, 0, 0);
   border-radius: 20px; 
   color: var(--yellow);
}

.contact cu:hover{
        letter-spacing: .2rem;
}

.contact .row{
   display: flex;
    flex-wrap: wrap;
   gap:1rem;
   border-radius: 0px;
   background: linear-gradient(145deg, #f0f0f0, #cacaca);
   box-shadow:  5px 5px 10px #5a5a5a,
                -5px -5px 10px #ffffff;
}

.row iframe{
margin-left: 10px;
height: 400px;

}
.contact .row .map{
   flex:1 1 45rem;
   width: 100%;
   object-fit: cover;
}

.contact .row form{
   flex:1 1 45rem;
   padding:5rem 2rem;
   text-align: center;
}

.contact .row form h3{
   text-transform: uppercase;
   font-size: 3.5rem;
   color: var(--yellow);
}
form h3:hover {
  text-shadow: 0 0 0 #000000  ;
   letter-spacing: .2rem;
}

.contact .row form .inputBox{
   border-radius: 20px;
   display: flex;
   align-items: center;
   margin-top: 2rem;
   margin-bottom: 2rem;
   background:var(--white);
   border:var(--border);
}

.contact .row form .inputBox span{
   color: var(--bg);
   font-size: 2rem;
   padding-left: 2rem;
}

.contact .row form .inputBox input{
   width: 100%;
   padding:2rem;
   font-size: 1.7rem;
   color: var(--bg);
   text-transform: none;
   background:none;
}


 .contact form .btncu{
   border-radius: 10px;
   margin-top: 1rem;
   display: inline-block;
   padding:.9rem 3rem;
   font-size: 1.7rem;
   color: var(--yellow);
   background: var(--black);
   cursor: pointer;
}

.contact form .btncu:hover{
   letter-spacing: .2rem;
}

/* contact us end */

/* footer start  */

.social a{

  font-size: 20px;
  margin: 0 5px;
}
.footer{
  background-color: #000000ff;
  position: relative;
  width: 100%;
  min-height: 350px;
  padding: 3rem 1rem;
}
.fcontainer {
 max-width: 1140px;
 margin: 0 auto;
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
}
.row{
 display: flex;
 justify-content: space-between;
 align-items: center;
}
.col{
 min-width: 250px;
 color:#f2f2f2f2;
 font-family: poppins;
 padding:3rem 2rem;
}
.col p {
  font-size: 20px;
}
.col .logo{
 width: 100px;
 margin-bottom:25px;
}
.col h3{
  font-size: 20px;
 color:rgb(255, 166, 0);
 margin-bottom: 20px;
 position: relative;
 cursor: pointer;
}
.col h3::after{
 content: '';
 height:3px;
 width:0px;
 background-color:rgb(255, 166, 0);
 position: absolute;
 bottom: 0;
 left:0;
 transition: 0.3s ease;

}
.col h3:hover::after{
 width:30px
}
.col .social a i{
 color:rgb(255, 166, 0);
 margin-top:2rem;
 margin-right: 5px;
 transition: 0.3s ease;
}
.col .social a i:hover{
 transform: scale(1.5);
 filter:grayscale(25);
}
footer .col h3 {

   left: 10px;

}

.col .links a{
 display: block;
 text-decoration: none;
 color:#f2f2f2;
 margin-bottom: 5px;
 position: relative;
 text-align: center;
 transition: 0.3s ease;
 font-size: 15px;
}
.col .links a::before{
 content:'';
 height: 16px;
 width:3px;
 position: absolute;
 top:5px;
 left:-10px;
 background-color: rgb(255, 166, 0);
 transition: 0.5s ease;
 opacity: 0;
}
.col .links a:hover::before{
 opacity: 1;
}
.col .links a:hover{
 transform: translateX(-8px);
 color:rgb(255, 166, 0);
}


.col .contact-details{
 display: inline-flex;
 justify-content: space-between;
}

.col .contact-details i{
 margin-right:15px;
}
.col .contact-details i:hover{
   transform: scale(1.5);
   filter:grayscale(25);
}
.col i{

  font-size: 20px;
  color: var(--yellow);
}

.row .form{
 display: flex;
 justify-content: center;
 align-items: center;
}


.row .form input{
  caret-color:rgb(255, 166, 0) ;
  font-size: 15px;
 background-color: #1a1c20ff;
 border:0;
 outline:none;
 padding:14px 20px;
 border-radius: 6px;
 border-top-right-radius: 0;
 border-bottom-right-radius: 0;
 width: 200px; 
}

.form button{
 padding:14px 20px;
 border:0;
 border-radius: 6px;
 border-top-left-radius: 0;
 border-bottom-left-radius: 0;
 background-color: rgb(255, 166, 0);
}

.footer  hr {  
    border-color: var(--yellow);
   width: 100%;
   margin-bottom: 40px;
}



/********** Responsive Design ********/
@media(max-width:900px)
{
footer .row{
 flex-direction: column;
}
footer .col{
 width: 100%;
 text-align: center;
 margin-bottom: 25px;
}

footer .links a{
   text-align: center;
display: flex ;
place-items: center;
}

}


@media(max-width:768px)
{

footer .row{
 flex-direction: column;
}

 footer .col{
      width: 100%;
      text-align: center;
      margin-bottom: 20px;
}

footer .links a{
      text-align: center;
      display: flex ;
      place-items: center;
}

}





/* footer end  */